<!DOCTYPE html>
<html>
<head>
    <title>MemorPy</title>
</head>
<body>
    <div class="pg_title"><h1>MemorPy</h1></div>

    <div class="memor_text">
        <p>{{ text }}</p>
    </div>

    <form method="POST" class="slider">
        <input 
            type="range" 
            name="level" 
            min="0" 
            max="{{ max_level }}" 
            value="{{ level }}"
            onchange="this.form.submit()"
        >
    </form>

    <form method="POST" class="up_down_buttons">
        <button name="action" value="dec" id="dec">-</button>
        <button name="action" value="inc" id="inc">+</button>
    </form>

    <div class="Level_dis">
        <p>Level: {{ level }} / {{ max_level }}</p>
    </div>

    <br>

    <div class="file_upload">
        <form method="POST" enctype="multipart/form-data">
            <input type="file" name="file">
            <button name="action" value="upload">Upload</button>
        </form>
    </div>

    <div class="file_lst">
        
    </div>

</body>
</html>